dash
dash-bootstrap-components
plotly
shiny
shinywidgets
shinylive
fastapi
uvicorn[standard]
httpx
aiohttp
aioredis
influxdb-client
alembic
python-dotenv
pydantic
prometheus-client
sentry-sdk
pytest
pytest-asyncio
pytest-cov
dash[testing]
black
isort
flake8
pre-commit
aiokafka
confluent-kafka